; List of banned words specified in two lines each - string and replacement
; If second line is empty, this word will be censored
;
;
chuj

huj

chój

hój

kutas

kótas

pindol

spierdalaj

wypierdalaj

pojeban

jeban

jeb

cipa

pizda

pipa

skurw

skórw

spieprzaj

fuck

dick

ciota

cioto

dupa
pupa
dópa
pupa
ush
uż
óje
uje
