<a href="irc://poznan.ircnet.pl/galaxy">IRC 1</a>

&nbsp; | &nbsp;

<a href="irc://lublin.ircnet.pl/galaxy">IRC 2</a>

&nbsp; | &nbsp;

<a href="http://www.facebook.com/pages/Galaxy-Forces/242025999032">Facebook</a>

<br /><br />

<img src="http://info.galaxy.alyx.pl/webalizer/usage.png"></img>

